%%-*- mode: erlang -*-

{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.1"}}},
    {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.12.0"}}},
    {cowboy, {git, "https://github.com/extend/cowboy.git", {tag, "2.0.0-pre.3"}}}
]}.

{relx, [
    {release, {'simple_web_server', "0.1.0"}, [
        'simple_web_server',
        sasl
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {include_erts, false},
    {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
