%%-*- mode: erlang -*-

{erl_opts, [
    {parse_transform, lager_transform},
    %bin_opt_info
    debug_info,
    % warn_export_all,
    warn_export_vars,
    % warn_missing_spec
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    % warn_missing_spec,
    warnings_as_errors
]}.

{deps, [
    {recon, ".*", {git, "https://github.com/ferd/recon.git",
        {tag, "2.3.2"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git",
        {tag, "3.2.4"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git",
        {tag, "2.8.1"}}},
    {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git",
        {tag, "0.12.0"}}},
    {cowboy, {git, "https://github.com/extend/cowboy.git",
        {tag, "2.0.0-pre.3"}}},
    {erlcloud,".*", {git, "https://github.com/erlcloud/erlcloud.git",
        {tag, "3.3.1"}}},
    {uuid,".*", {git, "https://github.com/MiniclipPortugal/erlang-uuid.git",
        {tag, "1.1.2"}}},
    {jsx, "2.10.0"},
    {mc_redis, ".*", {git, "ssh://git@stash.miniclip.com:7999/ser/mc_redis.git",
        {tag, "6.7.2"}}}
]}.

{relx, [
    {release, {'simple_web_server', "0.1.0"}, [
        'simple_web_server',
        sasl
    ]},

    {include_erts, false},
    {extended_start_script, true},

    {overlay_vars, "config/overlays/local/vars.config"},
    {overlay, [
        {mkdir, "log/sasl"},

        {mkdir, "scripts"},

        {mkdir, "bin/hooks"},
        {copy, "scripts/hooks/pre_start", "bin/hooks/pre_start"},

        {mkdir, "etc/ssh"},
        {copy, "etc/ssh/setup", "etc/ssh/setup"},

        {mkdir, "releases/{{release_version}}/config"},
        {template, "config/app.config", "releases/{{release_version}}/sys.config"},
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"},

        {template, "config/mc_redis.config",
            "releases/{{release_version}}/config/mc_redis.config"}
    ]},

    % start script hooks
    {extended_start_script_hooks, [
        {pre_start, [
          {custom, "hooks/pre_start"}
        ]}
    ]}
]}.

{profiles, [
    {local, [
        {erl_opts, [warn_export_all]},
        {relx, [
            {overlay_vars, "config/overlays/local/vars.config"}
        ]}]
    },
    {docker, [
        {relx, [
            {include_erts, true},
            {overlay_vars, "config/overlays/docker/vars.config"}
        ]}]
    }
]}.

