% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:
%% Include common vars to all platforms here

%%%%%%%%%%%%%
% general
%%%%%%%%%%%%%
{http_port, 8585}.

%%%%%%%%%%%%%
% logging
%%%%%%%%%%%%%
{lager_console_debug_level, debug}.

%%%%%%%%%%%%%
% configuration
%%%%%%%%%%%%%
{configuration_url, "http://localhost:8080"}.

%%%%%%%%%%%%%
% dynamodb
%%%%%%%%%%%%%
{ddb_host, "\"localhost\""}.
{ddb_port, 8000}.

%%%%%%%%%%%%%
% redis
%%%%%%%%%%%%%
{redis_host, "localhost"}.
{redis_port, 6379}.

