% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:
%% Include common vars to all platforms here

%%%%%%%%%%%%%
% general
%%%%%%%%%%%%%
{http_port, 8585}.

%%%%%%%%%%%%%
% configuration
%%%%%%%%%%%%%
% The below loopback address is necessary for the Fargate use-case where all containers
% are available through the localhost endpoint
% {configuration_url, "http://127.0.0.1:4566"}.
{configuration_url, "http://aws:4566"}.

%%%%%%%%%%%%%
% logging
%%%%%%%%%%%%%
{lager_console_debug_level, debug}.

%%%%%%%%%%%%%
% dynamodb
%%%%%%%%%%%%%
% The below loopback address is necessary for the Fargate use-case where all containers
% are available through the localhost endpoint
% {ddb_host, "\"127.0.0.1\""}.
{ddb_host, "\"dynamodb.us-west-2.amazonaws.com\""}.
{ddb_port, 4566}.

%%%%%%%%%%%%%
% redis
%%%%%%%%%%%%%
% The below loopback address is necessary for the Fargate use-case where all containers
% are available through the localhost endpoint
% {redis_host, "127.0.0.1"}.
{redis_host, "redis"}.
{redis_port, 6379}.

