% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:
%% Include common vars to all platforms here

%%%%%%%%%%%%%
% general
%%%%%%%%%%%%%
{http_port, 8585}.

%%%%%%%%%%%%%
% configuration
%%%%%%%%%%%%%
{configuration_url, "http://aws:4572"}.

%%%%%%%%%%%%%
% logging
%%%%%%%%%%%%%
{lager_console_debug_level, debug}.

%%%%%%%%%%%%%
% dynamodb
%%%%%%%%%%%%%
{ddb_host, "\"dynamodb.us-west-2.amazonaws.com\""}.
{ddb_port, 4569}.

%%%%%%%%%%%%%
% redis
%%%%%%%%%%%%%
{redis_host, "redis"}.
{redis_port, 6379}.

